.portfolio_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 20px; }

.portfolio_item {
  width: 100%; }

.portfolio_item a {
  width: 200px;
  float: left;
  margin-right: 20px; }

.portfolio_item a img {
  width: 100%;
  max-width: 100%;
  height: auto; }
